.inputs {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}

.set-count {
    border: 2px solid yellow;
    height: fit-content;
}

#lbs, #reps {
    width: 30px;
    margin-left: 10px;
}