.add-exercise-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-name {
    font-size: 20px;
    font-weight: 800;
    color: whitesmoke;
}

.new-exercise-input {
    width: 50%;
}

.exercise-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.each-exercise {
    width: 20%;
    border: 1px solid purple;
    background-color: lightblue;
    padding: 3px;
    margin: 2px;
    font-size: 18px;
    font-weight: 800;
}